.overlay-container {
  width: 200px;
  padding: 10px;
  background-color: lightgrey;
  border-radius: 5px;
  border: 1px solid darkgrey;

  img {
    width: 200px;
    height: 150px;
    margin-bottom: 10px;
    border-radius: 10px;
  }

  .overlay-info {
    font-size: 12px;
    line-height: 16px;
    text-align: left;
  }

  .overlay-like-btn {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-size: 14px;
    background-color: orange;
    border-radius: 5px;
    border: 1px solid #000;
    cursor: pointer;

    i {
      margin-right: 5px;
    }

    &:active {
      opacity: 0.5;
    }
  }
}