.App {
  // padding: 10px;
  height: 100vh;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  
  form {
    #query {
      margin-right: 10px;
    }
  }

  .chart-container {
    flex: 1;
    margin-top: 10px;
  }
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

$theme-colors: (
  "btn-success": #ffb800
);
