@import url('https://fonts.googleapis.com/css?family=Archivo:400,700|Open+Sans:400,700|Poppins:400,700&display=swap');

// .card {
//   border: solid 1px red;
// }

.favorite-title {
  padding: 20px;
  text-align: center;
  color: lightgrey;
  font-weight: 700;
  font-size: 1.3rem
}

.card-body {
  background: rgba(40,53,147 ,0.8);
  color: white;
}

div.card-title {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

button.remove-btn {
  background: rgba(17,153,142, 1);
  border: none;
  -webkit-box-shadow: 2px 2px 5px 0px rgba(77,77,77,0.8);
  -moz-box-shadow: 2px 2px 5px 0px rgba(77,77,77,0.8);
  box-shadow: 2px 2px 5px 0px rgba(77,77,77,0.8);

}