.registration {
  grid-column: 5 / 6;
  padding: 10px;
  background: rgba(17,153,142, 0.1);
  border-radius: 5px;
color: #323232
}

.authentication {
  grid-column: 6 / 7;
  padding: 10px;
  background: rgba(17,153,142, 0.2);
  border-radius: 5px;
  color: #323232;
}

.modal-btn {
  padding: 10px;
  background: rgba(17,153,142, 0.2);
  border-radius: 5px;
  color: #323232;
}