
.home-section {
  display: flex;
  padding: 20px;
  background: rgba(40,53,147 ,0.8);
  align-content: center;
  justify-content: center;
}

.explainer-container {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
  width: 40%;
  // justify-content: space-between;
}

.explainer-header {
  padding: 10px;
  font-weight:700;
    font-size:40px;
    line-height:52px;
    color: #fff;

}

.explainer-content {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  font-weight:500;
  font-size:18px;
  color: #fff;
  text-align: left;
}

.hero-image-container {
  margin-left: 15px;
  width: 40%;
  height: 500px;
}

.astro-image {
  height: 98%;
  width: 98%;
}



.explainer-icon {
  // background: white;
  // padding: 10px;
  height: 60px;
  width: 60px;
  border-radius: 50px;
}

.explainer-item {
  padding-left: 20px;
}

.user-image {
  width: 40px;
  height: 40px;
}